
/* CSS Resets and general stuff*/

html, body {
    height: 100%;
	height: 100vh;
    height: calc(var(--vh, 1vh) *100);
	font-family: 'Proza Libre', sans-serif;
    font-size: 14px;
	color: #555555;
    margin: 0;
}

h1,h2, h3 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-style: italic;
    color: #333333;
    margin-top: 5px;
    margin-bottom: 5px;
}

h1 {
     font-size: 3em;
     line-height: 1.3em;
     color: #575757;
    
}

h2 {
    font-size: 2.3em;
}

h3 {
    font-size: 1.8em;
}

p {
    margin-top: 5px;
}

hr {
    border-top: 1px solid black;
    width: 90%;
    margin-left: 0;
    margin-top: 20px;
}

.hidden {
    display: none;
    visibility: hidden;
}

.button {
    border: 1px solid #B2C7D6;
    padding: 5px 3px 5px 3px;
    background: #628fb0;
    text-decoration: none;
    color: white;
    text-align: center;
    width: 100px;
    cursor: pointer;
    font-size: 12px;
    font-family:'Proza Libre', sans-serif;
}

.button:hover {
  
    background: #42779c;
   
}


/* Page Sections and general layout */

.wrapper {

	
}

.section {
    height: 100vh;
    width: 100%;
    display: flex;
    background-size: cover;
    align-items: center;
    flex-direction: row;

}

    #section1 {
        background-image: url("/img/noel_duncan-289_websize.jpg");
        background-position: center;
        background-attachment: fixed;
    }

    #our-story {
        background: white;
        flex-direction: row;
    }

        .story {
            display: flex;
            width: 50%;
            height: 100%;
        }

        .gallery {

        }

    #section2 {
        background-image: url("/img/noel_duncan-511_websize.jpg");
    }

    #section3{
       /*background-image: url("/img/noel_duncan-183_websize.jpg");*/
       flex-direction: row;
       justify-content: center;
    }

        .center-box {
            text-align: center;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-self: center;

         }

         .center-box img {
            align-self: center;
         }

        

    #section4 {
        background-image: url("/img/noel_duncan-334.jpg");
        background-attachment: fixed;
    }



.box {
    background-color: white;
    width: 33%;
	padding: 30px 20px 30px 20px;
    flex-direction: column;
    align-self: left;
    vertical-align: center;
    display: flex;
    justify-content: left;
    margin-left: 5%;
    
}




.box div {
	padding: 0 20px 0 0;
    display: flex;
    align-self: center;
}



/* Form Stuff */

input[type="text"] {
    border: none;
    border-bottom: 1px solid;
    border-color: #B2C7D6;
    padding: 2px;
    margin-bottom: 10px;
    width: 70%;
    font-family: 'Proza Libre', sans-serif;
    font-size: 12px;}


input:focus {
    outline: none;
    border-bottom: 1px solid #628fb0;
}

input:focus::placeholder {
    color: transparent;
}


input[type="radio"] {
    display: block;
}

textarea {
    border: none;
    border-bottom: 1px solid;
    border-color: #B2C7D6;
    padding: 2px;
    margin-bottom: 10px;
    width: 70%;
    font-family: 'Proza Libre', sans-serif;
    font-size: 12px;}


textarea:focus {
    outline: none;
    border-bottom: 1px solid #628fb0;
}

textarea:focus::placeholder {
    color: transparent;
}



 @media only screen and (max-width:768px) {

    .center-box {
        width: 85%;
    }

    .box {
        width: 85%;
        margin: auto;
        align-self: center;
    }
}
